apiVersion: v1
kind: Service
metadata:
  name: {{ include "pred-maint.fullname" . }}
  labels:
    {{- include "pred-maint.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.service.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: 8001
      targetPort: drift-http
      protocol: TCP
      name: drift-http
  selector:
    {{- include "pred-maint.selectorLabels" . | nindent 4 }}
